## นายรัตนกร โสมาณวัฒน์ 63040233109

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('fitnessdata.csv')
df.

,customer_id,name,gender,age,weight,height,BMI,diffWH,program
0,p1,Kate,0,19,72,162,27.4,90,cardio
1,p2,Rose,0,55,62,165,22.8,103,cardio
2,p3,Marry,0,36,75,159,29.7,84,cardio
3,p4,John,1,22,54,174,17.8,120,weight_training
4,p5,Michel,0,47,45,180,13.9,135,weight_training
5,p6,Andrew,0,25,51,177,16.3,126,weight_training
6,p7,Peter,1,38,69,160,27.0,91,cardio
7,p8,Jane,0,36,65,164,24.2,99,cardio
8,p9,Anny,0,60,50,175,16.3,125,weight_training
9,p10,Maxwell,1,29,50,182,15.1,132,weight_training
10,p11,Will,1,15,60,160,23.4,100,cardio
11,p12,Carl,1,17,45,162,17.1,117,weight_training
12,p13,Caesar,1,35,55,170,19.0,115,weight_training
13,p14,David,1,23,57,168,20.2,111,cardio
14,p15,Frederick,1,20,56,180,17.3,124,weight_training
15,p16,Jack,1,36,60,178,18.9,118,weight_training
16,p17,Henry,1,24,50,162,19.1,112,cardio
17,p18,Jacob,1,36,55,180,17.0,125,weight_training
18,p19,Caddie,0,31,45,155,18.7,110,cardio
19,p20,Sam,1,34,60,175,19.6,115,weight_training

In [3]:
df=df.set_index('customer_id')
df.head()

,name,gender,age,weight,height,BMI,diffWH,program
customer_id,,,,,,,,
p1,Kate,0,19,72,162,27.4,90,cardio
p2,Rose,0,55,62,165,22.8,103,cardio
p3,Marry,0,36,75,159,29.7,84,cardio
p4,John,1,22,54,174,17.8,120,weight_training
p5,Michel,0,47,45,180,13.9,135,weight_training

In [4]:
df=df.drop(columns='name')
df.head()

             gender  age  weight  height   BMI  diffWH          program
customer_id
p1                0   19      72     162  27.4      90           cardio
p2                0   55      62     165  22.8     103           cardio
p3                0   36      75     159  29.7      84           cardio
p4                1   22      54     174  17.8     120  weight_training
p5                0   47      45     180  13.9     135  weight_training

## แบ่งแบบ Split Test

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
feature=df.iloc[:,0:6]
feature.head()

             gender  age  weight  height   BMI  diffWH
customer_id
p1                0   19      72     162  27.4      90
p2                0   55      62     165  22.8     103
p3                0   36      75     159  29.7      84
p4                1   22      54     174  17.8     120
p5                0   47      45     180  13.9     135

In [7]:
label=df.iloc[:,-1:]
label.head()

                     program
customer_id
p1                    cardio
p2                    cardio
p3                    cardio
p4           weight_training
p5           weight_training

In [8]:
feature.shape,label.shape

((20, 6), (20, 1))

In [9]:
feature

             gender  age  weight  height   BMI  diffWH
customer_id
p1                0   19      72     162  27.4      90
p2                0   55      62     165  22.8     103
p3                0   36      75     159  29.7      84
p4                1   22      54     174  17.8     120
p5                0   47      45     180  13.9     135
p6                0   25      51     177  16.3     126
p7                1   38      69     160  27.0      91
p8                0   36      65     164  24.2      99
p9                0   60      50     175  16.3     125
p10               1   29      50     182  15.1     132
p11               1   15      60     160  23.4     100
p12               1   17      45     162  17.1     117
p13               1   35      55     170  19.0     115
p14               1   23      57     168  20.2     111
p15               1   20      56     180  17.3     124
p16               1   36      60     178  18.9     118
p17               1   24      50     162  19.1     112
p18               1   36      55     180  17.0     125
p19               0   31      45     155  18.7     110
p20               1   34      60     175  19.6     115

In [10]:
label

                     program
customer_id
p1                    cardio
p2                    cardio
p3                    cardio
p4           weight_training
p5           weight_training
p6           weight_training
p7                    cardio
p8                    cardio
p9           weight_training
p10          weight_training
p11                   cardio
p12          weight_training
p13          weight_training
p14                   cardio
p15          weight_training
p16          weight_training
p17                   cardio
p18          weight_training
p19                   cardio
p20          weight_training

In [24]:
train_feature,test_feature,train_label,test_label=train_test_split(feature,label,test_size=0.4,shuffle=False)

In [25]:
train_feature.shape,test_feature.shape

((12, 6), (8, 6))

In [26]:
train_feature

             gender  age  weight  height   BMI  diffWH
customer_id
p1                0   19      72     162  27.4      90
p2                0   55      62     165  22.8     103
p3                0   36      75     159  29.7      84
p4                1   22      54     174  17.8     120
p5                0   47      45     180  13.9     135
p6                0   25      51     177  16.3     126
p7                1   38      69     160  27.0      91
p8                0   36      65     164  24.2      99
p9                0   60      50     175  16.3     125
p10               1   29      50     182  15.1     132
p11               1   15      60     160  23.4     100
p12               1   17      45     162  17.1     117

In [27]:
test_feature

             gender  age  weight  height   BMI  diffWH
customer_id
p13               1   35      55     170  19.0     115
p14               1   23      57     168  20.2     111
p15               1   20      56     180  17.3     124
p16               1   36      60     178  18.9     118
p17               1   24      50     162  19.1     112
p18               1   36      55     180  17.0     125
p19               0   31      45     155  18.7     110
p20               1   34      60     175  19.6     115

In [28]:
# สร้าง knn model
from sklearn.neighbors import KNeighborsClassifier

# ประเมินความถูกต้องของ model
from sklearn.metrics import accuracy_score

# ไม่ให้แสดงผล warning
import warnings
warnings.filterwarnings('ignore')

In [29]:
knnModel=KNeighborsClassifier(n_neighbors=3)

In [30]:
knnModel.fit(train_feature,train_label)

KNeighborsClassifier(n_neighbors=3)

In [31]:
result=knnModel.predict(test_feature)
result

array(['weight_training', 'weight_training', 'weight_training',
       'weight_training', 'weight_training', 'weight_training',
       'weight_training', 'weight_training'], dtype=object)

In [32]:
test_label

                     program
customer_id
p13          weight_training
p14                   cardio
p15          weight_training
p16          weight_training
p17                   cardio
p18          weight_training
p19                   cardio
p20          weight_training

In [33]:
accuracy_score(test_label,result)*100

62.5